body{
    background-color: #f6f8fa;
}
* {
    margin: 0;

}

.description {
    background-color: #ffebcd;
    text-align: center;
    padding: 8px;
}

.description .span{
    font-size: 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: #fff;;
}

.logo img {
    height: 40px;
    margin: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 20px;
    color: #6c6c6c;
    
}

.nav,
ul,
li,
a {
    text-decoration: none;
    display: inline;
    margin-left: 10px;
    color: black;
}

.top-content {
    display: flex;
    justify-content: center;

}

.top-content .rtc-img img {
    height: 450px;
    margin-right: 70px;

}

.top-content-description {
    width: 500px;
    margin-left: 70px;
}

.top-content-description h1 {
    font-size: 35px;
    color: #878f96;
    margin: 10px 0;
}

.top-content-description p {
    font-size: 25px;
    color: #878f96;
    margin: 15px 0;
}

.top-content .top-content-description .button .btn{
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #212529;
    ;
    border: none;
    font-size: 16px;
    margin-right: 60px;
}

.top-content .top-content-description .button .btn-call {
    background-color: #ffc107;
    color: black;
}

.features{
    padding: 0 80px;
    
}

.features .feature-content{
    display: flex;
    justify-content: space-between;
}

.f-heading{
    color: #518ef4;;
}

.courses{
   padding: 0 80px;
   
}

.courses h1{
    text-align: center;
    
 }
.courses .c-course{
    display: flex;
    /* justify-content: space-between; */
}

.courses .c-course .course-card{
    padding: 5px;
    margin: 20px;
    width: 420px;
    background-color: white;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.142);
    border-radius: 5px;
    box-shadow: 0 5px 0 0 #4285f4;
}

.courses .c-course .course-card img{
    width: 100%;
    border-radius: 5px;
}

.courses .c-course .course-card p{
   margin: 10px 0px;
}

.courses .c-course .course-card span{
    margin: 10px 0px;
    display: block;
    font-size: 20px;
 }

 .courses .c-course .course-card .span1 span{
    text-align: center;
    font-size: 25px;
 }

 .courses .c-course .course-card span i{
    margin-right: 5px;
    color: #518ef4;
 }

 .courses .c-course .course-card .btn{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
   

 }

 .courses .c-course .course-card button{
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
 }


 .students{
    padding: 0 80px;
 }

 .students h1,p{
    text-align: center;
 }

 .students h1{
    font-size:35px ;
 }

 .students p{
    font-size:25px ;
    margin: 15px 0;
 }

 .students-card{
    
    display: flex;
    justify-content: space-between;
 }
 .s-name{
    display: flex;
    align-items: center;
    margin: 10px 0px;
 }

 .s-name img{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
 }

 .s-name span{
    font-size: 20px;
 }

 .s-card-content {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px 10px;
 }
 .s-card-content i{
    margin-right: 7px;
 }

 .s-card-content p{
    font-size: 18px;
    text-align: start;
 }